<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(9, 11, 2);">
    <center>
        <h1 style="color: antiquewhite;">Bahubali_Page</h1>
     <marquee behavior="" direction="left">  <h1 style="color: rgb(208, 218, 146);">Now i am using generic_url Navigation for this Html page</h1>
    </marquee>
        <h1><a href="{% url 'saaho' %}">Saaho</a>
    </center>
</body>
</html>